@import "./reset.css";
body {
	margin: 0;
	padding: 0;
	line-height: calc(1rem * 1.5);
}
a {
	text-decoration: none;
	color: white;	
}
mark {
	color: #46d886;
	font-weight: 700;
	background-color: transparent;
    padding-right: 15px
}
.hero-content {
    background-image:linear-gradient(to right, rgb(76 98 115 / 89%), rgb(255 255 255 / 0%) 50%), url('../Imagens/Banner.jpg');
    background-position: center;
    background-size: cover;
}
.carousel-caption {
    bottom: 400px;
    right: 1100px;
    text-align: start;
}
.carousel-caption h2 {
    font-family: 'Proxima Nova Regular' , sans-serif;
    font-size: 30px;
    color: white;
}
.w-100{
    height: 100vh;
}
.navbar-nav {
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-toggler  {
    background-color: #46d886;
}
.nav-link {
    margin-left: 2rem; 
	font-weight: 700;
	font-size: 14px;
    padding: 5px;
    text-decoration: none;    
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-nav  a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);    
    background-color: #11db88;
    border-radius: 7px;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.simple-digital{
    background-color: white;
}
.simple-digital-itens {
    padding: 9% 0 9% 0;
}
.simple-digital-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple-digital-text {
    font-family: 'Montserrat' , sans-serif;
    color: #203342;
}
.simple-digital-text h3 {
    font-size: 48px;
    margin-bottom: 30px;
    border-left: 8px solid #46d886;    
    padding: 0 30px 0 50px;
    text-align: left;
}
.simple-digital-text p {
    font-size: 17px;
    margin-bottom: 30px;
    padding: 0 50px 0 60px;
    text-align: left;
}
.simple-digital-figures{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.digital-acount {
    color: #203342;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.text-acount {
    font-size: 28px;
    color: #203342;
    padding-left: 15px;
}
.machine-card {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.text-machine {
    font-size: 28px;
    color: #203342;
    padding-left: 15px;
}
.transaction {
    display: flex;
    align-items: center;
}
.text-transaction {
    font-size: 28px;
    color: #203342;
    margin-left: 15px;
}
.services {    
    background-color: #203342;
    background-size: cover;
}
.services-itens {
   padding: 6% 0 6% 0;
}
.title-machine-card h3 {
    font-family: 'Proxima Nova Extrabold' , sans-serif;
    font-size: 48px;
    line-height: 3rem;
    margin-bottom: 30px;
    border-left: 8px solid #46d886;
    padding: 0 0px 0 40px;
    text-align: left;
    color: white;
}
.title-machine-card p {
    font-size: 17px;
    margin-bottom: 30px;
    padding-left: 50px;
    text-align: left;
    color: white;
}
.several-services p {
    line-height: 2rem;
    color: white;
    padding-left: 31px;
}
.image-service {
    display: flex;
    justify-content: center;
}
.card-keep {
    background-color: #46d886;
}
.card-keep-itens {
    padding: 9% 0 9% 0;
}
.card-keep-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.keep-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-keep-text {
    font-family: 'Montserrat' , sans-serif;
    color: #203342;
}
.card-keep-text h3 {
    font-size: 48px;
    margin-bottom: 30px;
    border-left: 8px solid white;    
    padding: 0 30px 0 50px;
    text-align: left;
}
.card-keep-text p {
    color: white;
    font-size: 17px;
    margin-bottom: 30px;
    padding: 0 50px 0 60px;
    text-align: left;
}
.digital-bank-title{
    font-family: 'Montserrat';
    color: #203342;
    margin-top: 80px;
    font-size: 48px;
}
.figures-digital-bank {    
    margin-top: 60px;
    text-align: center;
}
.figures-digital-bank p {
    font-family: 'Montserrat' ,sans-serif;
    color: #203342;
    font-size: 17px;
}
.about-app {
    background-image: url('../Imagens/background-about.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-app-title {
    margin-top: 300px;
}
.about-app-title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 41px;
}
.about-app-title h3 {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
    color: #46d886;
}
.text-figures {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 110px;
}
.text-about p {
    color: white;
}
.downloads img {
    margin-bottom: 10px;
}
.about-app-figures img {
    width: 70px;
}
.about-app-figures p {
    font-family: 'Proxima Nova Bold', sans-serif;
    padding-left: 25px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.query {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
.transfer-app {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
.payments-app {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
.generate-tickets {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}
.cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}